html {
  font-size: 10px;
  background-color: cornflowerblue;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: calc(50% - 100px);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100px;
  margin: 0 5px;
  font-size: 16px;
  border: 3px solid #333;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: .3s all;
}

.button:hover {
  background-color: #666;
}

.button.recording {
  background-color: #b64141;
}